
body{
  background-color: #fff;
    color: #000;
    font: normal normal 100% Roboto,Arial,Helvetica,sans-serif;
    line-height: 20px;
    font-size: 14px;
    box-sizing: border-box;
   
}

.data_table{
  
  padding-top: 20px;
 

}
.mota{
  margin-top: 20px;
  border: 1px solid #f0f0f0 ;
  padding-top: 20px;
  padding-left: 20px;
  box-shadow: 2px 2px #f0f0f0;
}

.involve{

  margin-top: 20px;
  border: 1px solid #f0f0f0 ;
  padding-top: 20px;
  box-shadow: 2px 2px #f0f0f0;
  
}
.comment{
  border: 1px solid #f0f0f0 ;
  margin-top: 20px;
  color: black;
  box-sizing: border-box;
  padding-top: 20px;
  box-shadow: 2px 2px #f0f0f0;
}
.container{
  padding-top: 130px;
  font-size: 18px;
  line-height: 20px;

}
