@import '~antd/dist/antd.css';
*{
  padding: 0;
  margin: 0;
}
.site-layout-content {
  min-height: 280px;
  padding: 24px;
  background: #fff;
}
#components-layout-demo-top .logo {
  float: left;
  width: 120px;
  height: 31px;
  margin: 16px 24px 16px 0;
  background: rgba(255, 255, 255, 0.3);
}
.ant-row-rtl #components-layout-demo-top .logo {
  float: right;
  margin: 16px 0 16px 24px;
}

.Head{
  background-color: #0f4d92;
  height: 100px;
  width: 100%;
  padding-right: 100px;
}
.title{
  position: relative;
  bottom:  90px;
  color: #fff;
  text-align: center;
}
h1{
  position: relative;
  top:  15px;
}
.foot{
  background-color: #0f4d92;
}
ul{
  padding-bottom: 100%;
  list-style-type: none;
  position: relative;
  bottom:  135px;
  left: 100px;
  color: #fff;
  font-size: 15px;
  
}
li{
  display: inline-block;
  padding: 20px;
}
ul li:hover{
  color: aqua;
}
.rightBanner{
  position: relative;
  bottom:  1355px;
  padding-left: 900px;
}

.rightBanner button{
  position: relative;
  bottom:  2px;
}

.rightBanner #ic{
  position: relative;
  bottom:  2px;
  font-size: 20px;
}

.rightBanner ul li {
  position: relative;
  top:  50px;
}

